
<template>
  <v-container>
    <h1 class="display-1">Continuous Integration and Deployment</h1>
    <span class="subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>

    <v-divider class="my-3"></v-divider>
    <v-timeline dense clipped>
      <v-slide-x-transition
        group
      >
        <v-timeline-item
          v-for="event in timeline"
          :key="event.id"
          class="mb-3"
          color="pink"
          small
        >
          <v-layout justify-space-between>
            <v-flex xs7 v-text="event.text"></v-flex>
            <v-flex xs5 text-xs-right v-text="event.time"></v-flex>
          </v-layout>
        </v-timeline-item>
      </v-slide-x-transition>

      <v-timeline-item
        class="mb-4"
        hide-dot
      >
        <span>TODAY</span>
      </v-timeline-item>

      <v-timeline-item
        class="mb-3"
        icon-color="grey lighten-2"
        small
      >
        <v-layout justify-space-between>
          <v-flex xs7>
             8.6.1
             <v-chip
              class="white--text ml-0"
              color="purple"
              label
              small
            >
              LATEST
            </v-chip>
          </v-flex>
          <v-flex xs5 text-xs-right>2016-11-18 18:47</v-flex>
        </v-layout>
      </v-timeline-item>

      <v-timeline-item
        class="mb-3"
        hide-dot
      >
        <v-btn
          class="mx-1 white--text"
          color="blue"
        >
          Get Link
        </v-btn>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </v-timeline-item>

      <v-timeline-item
        class="mb-3"
        color="grey"
        small
      >
        <v-layout justify-space-between>
          <v-flex xs7>
            8.6.2
          </v-flex>
          <v-flex xs5 text-xs-right>2016-11-18 18:47</v-flex>
        </v-layout>
      </v-timeline-item>

      <v-timeline-item
        class="mb-3"
        color="grey"
        small
      >
        <v-layout justify-space-between>
          <v-flex xs7>
            8.6.3-20161129
          </v-flex>
          <v-flex xs5 text-xs-right>2016-11-29 12:51</v-flex>
        </v-layout>
      </v-timeline-item>

      <v-timeline-item
        class="mb-3"
        color="grey"
        small
      >
        <v-layout justify-space-between>
          <v-flex xs7>
            8.7.0-20170114
          </v-flex>
          <v-flex xs5 text-xs-right>2017-02-15 14:38</v-flex>
        </v-layout>
      </v-timeline-item>

      <v-timeline-item
        color="grey"
        small
      >
        <v-layout justify-space-between>
          <v-flex xs7>
            8.7.1-20170215
          </v-flex>
          <v-flex xs5 text-xs-right>2017-02-15 14:54</v-flex>
        </v-layout>
      </v-timeline-item>
    </v-timeline>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      search: ''
    }
  }
}
</script>
