<template>
  <div>

    <h1 class="display">Supported images links</h1>
    <span class="subheading">Lorem ipsum dolor sit amet, pri veniam forensibus id. Vis maluisset molestiae id, ad semper lobortis cum. At impetus detraxit incorrupte usu, repudiare assueverit ex eum, ne nam essent vocent admodum.</span>

    <v-divider class="my-3"></v-divider>

    <v-card>
    <v-card-title>
      Images
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="images"
      :search="search"
    >
      <template v-slot:items="props">
        <td>{{ props.item.name }}</td>
        <td>{{ props.item.zone }}</td>
        <td>{{ props.item.version }}</td>
        <td>{{ props.item.code_name }}</td>
        <td>{{ props.item.arch }}</td>
        <td>{{ props.item.release }}</td>
        <td>{{ props.item.link }}</td>
      </template>
      <v-alert v-slot:no-results :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
  <v-card class="mt-3">
    <div class="pa-3">
      <h1>What is OpenStack?</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut placerat orci nulla pellentesque. In hendrerit gravida rutrum quisque non tellus orci. Tellus mauris a diam maecenas sed enim ut sem. Mi bibendum neque egestas congue quisque egestas diam in. Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam. Justo nec ultrices dui sapien eget. Urna duis convallis convallis tellus id interdum velit laoreet. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec. Aliquam sem et tortor consequat id.
      <p>Eget nunc lobortis mattis aliquam. Lectus nulla at volutpat diam ut venenatis tellus in. Nullam ac tortor vitae purus faucibus. Ut aliquam purus sit amet luctus venenatis. Id venenatis a condimentum vitae sapien pellentesque habitant morbi tristique. Et tortor at risus viverra adipiscing at. Pretium quam vulputate dignissim suspendisse. At elementum eu facilisis sed odio morbi quis commodo. Eget felis eget nunc lobortis mattis aliquam. Eget lorem dolor sed viverra ipsum nunc aliquet bibendum enim. Eu volutpat odio facilisis mauris sit. Tincidunt vitae semper quis lectus nulla. At consectetur lorem donec massa sapien faucibus et molestie ac. Hendrerit dolor magna eget est lorem. Feugiat nisl pretium fusce id. A condimentum vitae sapien pellentesque habitant morbi tristique senectus. Eleifend mi in nulla posuere sollicitudin.</p>
      <p>Aliquet bibendum enim facilisis gravida neque convallis a cras semper. Suspendisse in est ante in nibh mauris cursus mattis. Eget dolor morbi non arcu risus. Viverra adipiscing at in tellus integer. At risus viverra adipiscing at in. Elementum eu facilisis sed odio morbi quis. Eros in cursus turpis massa. Iaculis eu non diam phasellus. Enim lobortis scelerisque fermentum dui faucibus in ornare quam. Dictum fusce ut placerat orci nulla pellentesque dignissim enim. Pulvinar pellentesque habitant morbi tristique senectus. Lectus sit amet est placerat in egestas erat. Nisl pretium fusce id velit ut. Risus nec feugiat in fermentum posuere urna nec tincidunt praesent. Nunc faucibus a pellentesque sit amet porttitor eget. Iaculis urna id volutpat lacus laoreet non curabitur gravida. Nec feugiat in fermentum posuere urna nec tincidunt praesent semper. Purus gravida quis blandit turpis cursus in. Suscipit tellus mauris a diam maecenas sed enim.</p>
      <p>Turpis egestas integer eget aliquet. Eget velit aliquet sagittis id consectetur purus. Aliquet eget sit amet tellus cras. Facilisis gravida neque convallis a cras semper. Aliquet risus feugiat in ante. Lorem donec massa sapien faucibus et molestie ac feugiat. Feugiat sed lectus vestibulum mattis. Ornare suspendisse sed nisi lacus. Malesuada pellentesque elit eget gravida cum sociis natoque. Quam viverra orci sagittis eu volutpat odio facilisis mauris.</p>
      <p>Viverra suspendisse potenti nullam ac tortor. Tempus imperdiet nulla malesuada pellentesque elit. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus vel. Porttitor eget dolor morbi non arcu risus quis varius. Sit amet dictum sit amet justo donec enim diam. Metus aliquam eleifend mi in. Eu mi bibendum neque egestas congue quisque egestas. Egestas sed sed risus pretium quam vulputate dignissim suspendisse. Lectus magna fringilla urna porttitor rhoncus dolor purus non enim. Suscipit adipiscing bibendum est ultricies. Quisque sagittis purus sit amet volutpat consequat mauris. Fames ac turpis egestas sed tempus urna et pharetra pharetra. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Velit laoreet id donec ultrices tincidunt arcu non sodales neque. Interdum posuere lorem ipsum dolor. Scelerisque in dictum non consectetur a erat nam. Proin fermentum leo vel orci porta non pulvinar neque laoreet.</p>
    </div>
  </v-card>
  </div>
</template>

<script>
export default {
  data () {
    return {
      search: '',
      headers: [
        {
          text: 'Name',
          align: 'left',
          sortable: false,
          value: 'name'
        },
        { text: 'Zone', value: 'zone' },
        { text: 'Version', value: 'version' },
        { text: 'Code Name', value: 'code_name' },
        { text: 'Arch', value: 'arch' },
        { text: 'Release', value: 'release' },
        { text: 'Link', value: 'link' }
      ],
      images: [
        {
          name: 'xenial',
          zone: 'all',
          version: 6.0,
          code_name: 'Squeeze',
          arch: 'amd64',
          release: 'latest',
          link: 'example.com'
        },
        {
          name: 'precise',
          zone: 'all',
          version: 6.0,
          code_name: 'Squeeze',
          arch: 'amd64',
          release: 'latest',
          link: 'example.com'
        },
        {
          name: 'xenial',
          zone: 'all',
          version: 6.0,
          code_name: 'Squeeze',
          arch: 'amd64',
          release: 'latest',
          link: 'example.com'
        },
        {
          name: 'trusty',
          zone: 'all',
          version: 6.0,
          code_name: 'Squeeze',
          arch: 'amd64',
          release: 'latest',
          link: 'example.com'
        },
        {
          name: 'xenial',
          zone: 'all',
          version: 6.0,
          code_name: 'Squeeze',
          arch: 'amd64',
          release: 'latest',
          link: 'example.com'
        }
      ]
    }
  }
}
</script>
