<template>
  <div>

    <h1 class="display-1">License</h1>
    <span class="subheading"></span>

    <v-divider class="my-3"></v-divider>
    <p>View license information for the software contained in this image.

    <p>As with all Debian images, these likely also contain other software which may be under other licenses (such as Bash, etc from the base distribution, along with any direct or indirect dependencies of the primary software being contained).</p>

    <p>Some additional license information which was able to be auto-detected might be found in the repo-info repository's debian/ directory.</p>

    <p>As for any pre-built image usage, it is the image user's responsibility to ensure that any use of this image complies with any relevant licenses for all software contained within.</p>
  </div>
</template>

<script>
export default {
  data () {
    return {
      search: ''
    }
  }
}
</script>
