<template>
  <div>

    <h1 class="display-1">How to use this image</h1>
    <span class="subheading">These are files containing cloud images of the Debian GNU/Linux operating system designed for OpenStack. The files in this directory are specifically for the amd64 and arm64 architectures.</span>

    <v-divider class="my-3"></v-divider>
    <h1 class="headline">What's in this directory?</h1>
    <p>These are files containing cloud images of the Debian GNU/Linux operating system designed for OpenStack. The files in this directory are specifically for the amd64 and arm64 architectures.</p>
    <h1 class="headline">How do I use these files?</h1>
    <p>The files here are qcow2 or raw images, ready to use. Once you have downloaded the image, you would typically need to upload it to Glance, using a command like this one for amd64:</p>
    <vue-code-highlight>
      openstack image create \
        --container-format bare \
        --disk-format qcow2 \
        --file debian-9-openstack-amd64.qcow2 \
        debian-9-openstack-amd64
    </vue-code-highlight>
    <p>or this one for arm64:</p>
    <vue-code-highlight flat app>
      openstack image create \
        --container-format bare \
        --disk-format qcow2 \
        --file debian-9-openstack-arm64.qcow2 \
        --property hw_firmware_type=uefi \
        --property os_command_line="console=ttyAMA0" \
        --property hw_disk_bus=scsi \
        --property hw_scsi_model=virtio-scsi \
        debian-9-openstack-arm64
    </vue-code-highlight>
    <p>Then you can boot a new virtual machine instance using the uploaded image ID.</p>

    <h1 class="headline">Will the image work on another cloud platform than OpenStack?</h1>
    <p>If your platform supports the EC2 style metadata server (which is contacted by cloud-init), and also supports an HDD image (using either raw or qcow2 format), then most likely it will work. Note that it will not work on Amazon EC2 if you are not using the HVM mode.</p>
    <h1 class="headline">How can I verify my download is correct and exactly what has been created by Debian?</h1>
    <p>There are files here (SHA512SUMS, SHA256SUMS, etc.) which contain checksums of the images. These checksum files are also signed - see SHA612SUMS.sign, SHA256SUMS.sign, etc. Once you've downloaded an image, you can check:</p>
    <p>- that its checksum matches that expected from the checksum file; and</p>
    <p>- that the checksum file has not been tampered with.</p>
    <p>For more information about how to do these steps, read the verification guide.</p>

    <h1 class="headline">Other questions?</h1>
    <p>Other questions can be forwarded to the OpenStack packaging team: debian-openstack at lists.debian.org.</p>

  </div>
</template>

<script>
import { component as VueCodeHighlight } from 'vue-code-highlight'
import '../../../node_modules/vue-code-highlight/themes/prism-coy.css'

export default {
  components: {
    VueCodeHighlight
  },
  data () {
    return {
      search: ''
    }
  }
}
</script>
