<template>
  <div class="notification">
    <v-tooltip bottom>
      <v-btn icon @click.stop="rightDrawer = !rightDrawer" slot="activator">
        <v-badge color="red" overlap>
          <span slot="badge">2</span>
          <v-icon>notifications</v-icon>
        </v-badge>
      </v-btn>
      <span>2 unread notifications</span>
    </v-tooltip>
    <v-navigation-drawer
      temporary
      :right="right"
      v-model="rightDrawer"
      fixed
      app>
      <v-toolbar flat prominent dark class="primary">
        <v-toolbar-title>Notifications</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon @click.stop="rightDrawer = false">
          <v-icon>close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-list subheader dense>
          <v-subheader>All notifications</v-subheader>
          <v-list-tile @click="'/'">
              <v-list-tile-action>
                  <v-icon>person_add</v-icon>
              </v-list-tile-action>
              <v-list-tile-title>
                  12 new viwers for Azure
              </v-list-tile-title>
          </v-list-tile>
          <v-divider></v-divider>
          <v-list-tile @click="'/'">
              <v-list-tile-action>
                  <v-icon>data_usage</v-icon>
              </v-list-tile-action>
              <v-list-tile-title>
                  DB overloaded 80%
              </v-list-tile-title>
          </v-list-tile>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  data () {
    return {
      drawer: true,
      fixed: false,
      right: true,
      rightDrawer: false
    }
  }
}
</script>
