<template>
  <div class="search">
    <!-- <v-btn icon @click.native.stop="searchBegin">
      <v-icon>search</v-icon>
    </v-btn> -->
    <div :class="{'searching--closed': !searching}" class="searching">
      <v-text-field
        id="search"
        v-model="search"
        append-icon="close"
        @click:append="searchEnd"
        label="Search"
        hide-details
        single-line
        color="white"
        @blur="onBlur"
      ></v-text-field>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      searching: false,
      search: ''
    }
  },
  methods: {
    onBlur () {
      this.searching = false
      this.search = ''
    },
    searchBegin () {
      this.searching = true
      setTimeout(() => document.querySelector('#search').focus(), 50)
    },
    searchEnd () {
      this.searching = false
      this.search = ''
      document.querySelector('#search').blur()
    }
  }
}
</script>
