<template>
  <v-toolbar
    app
    flat
    dense
    color="primary"
    dark>

    <v-toolbar-side-icon
      @click.stop="drawer = !drawer"
      class="hidden-lg-and-up"
      :class="searching ? 'hidden-xs-only' : ''"/>

    <v-spacer></v-spacer>
    <Search/>
    <Notification/>
    <!-- <Avatar/> -->
  </v-toolbar>
</template>

<script>
import Search from '@/components/toolbar/Search'
import Notification from '@/components/toolbar/Notification'
// import Avatar from '@/components/toolbar/Avatar'

export default {
  components: { Notification, Search },
  data () {
    return {
      drawer: true,
      searching: false
    }
  }
}
</script>
