<template>
  <div>
    <v-toolbar
    dense
    color="primary"
    dark
    extended
    extension-height="175"
    flat>
      <v-toolbar-title slot="extension">
        <v-layout row>
          <v-flex
            shrink
            pa-1>
            <v-img
            src="https://firebasestorage.googleapis.com/v0/b/cloud-images-debian.appspot.com/o/open_stack.png?alt=media&token=eb5d4c5a-1593-4f01-9d4c-7859228fcd47"
            aspect-ratio="2.75"
            fill-width
            width="150"
            height="100"
            ></v-img>
          </v-flex>
          <v-flex
            grow
            pa-1>
            <h2>OpenStack</h2>
            <span>Debian Official Image</span>
            <v-layout row>
              <v-flex
                pa-1>
                <v-icon>visibility</v-icon>
                <span class="ml-1">10M+</span>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex
            pa-1>
            <v-chip>x84-64</v-chip>
            <v-chip>386</v-chip>
            <v-chip>ARM</v-chip>
            <v-chip>ARM 64</v-chip>
            <v-chip>Base Image</v-chip>
          </v-flex>
        </v-layout>
      </v-toolbar-title>
    </v-toolbar>
        <v-tabs
      v-model="active"
      color="primary"
      dark
      slider-color="light-blue accent-1"
    >
      <v-tab
        v-for="item in tabs"
        :key="item.id"
        ripple>
         {{ item.title }}
      </v-tab>
      <v-tab-item
        v-for="item in tabs"
        :key="item.id"
>
        <v-card flat>
          <v-card-text>
            <component :is="item.type"></component>
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>

    <!-- <div class="text-xs-center mt-3">
      <v-btn @click="next">next tab</v-btn>
    </div> -->

    <v-container>
    </v-container>
  </div>
</template>

<script>
import Description from '@/components/detail/Description'
import Usage from '@/components/detail/Usage'
import Review from '@/components/detail/Review'
import ContinuousIntegrationDeployment from '@/components/detail/ContinuousIntegrationDeployment'
import Licence from '@/components/detail/Licence'

export default {
  components: { Description,
    Usage,
    Review,
    ContinuousIntegrationDeployment,
    Licence },
  data () {
    return {
      active: null,
      tabs: [
        {
          id: '1',
          title: 'Description',
          type: 'Description',
          component: 'Description'
        },
        {
          id: '2',
          title: 'Usage',
          type: 'Usage',
          component: ''
        },
        {
          id: '3',
          title: 'Reviews',
          type: 'Review',
          component: ''
        },
        {
          id: '4',
          title: 'CI/CD',
          type: 'ContinuousIntegrationDeployment',
          component: ''
        },
        {
          id: '5',
          title: 'License',
          type: 'Licence',
          component: ''
        }
      ]
    }
  },
  methods: {
    next () {
      const active = parseInt(this.active)
      this.active = (active < 2 ? active + 1 : 0)
    }
  }
}
</script>
