<template>
  <div>
    <v-toolbar
      dense
      color="primary"
      dark
      extended
      extension-height="300"
      flat>
      <v-toolbar-title class="mx-auto" slot="extension">
        <h2>Welcome to Debian Image Finder!</h2>
        <span>Here your can find any debian image for the most used cloud providers.</span>
      </v-toolbar-title>
    </v-toolbar>
    <v-container>
      <v-layout row>
        <v-flex xs12 md10 offset-md1>
          <v-card  flat class="card--flex-toolbar flexcard" height="100%" color="transparent">
            <v-container fluid grid-list-lg>
              <v-layout row wrap>
                <v-flex xs12>
                  <span class="white--text title">Cloud Providers</span>
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex xs12 sm6 md6 lg4 v-for="item in links" :key="item.id">
                  <v-hover>
                    <v-card class="flexcard" height="100%" v-bind:to="{name:'detail', params: {provider_id: item.id}}" slot-scope="{ hover }" :class="`elevation-${hover ? 12 : 2}`">
                      <v-img
                        v-bind:src="item.image"
                        aspect-ratio="2.75"
                        height="125px"
                        :class="item.color"
                      ></v-img>
                      <v-card-title primary-title>
                        <div>
                          <h3 class="headline mb-0">{{item.title}}</h3>
                          <div>
                            {{item.description}}
                          </div>
                        </div>
                      </v-card-title>
                      <v-spacer></v-spacer>
                      <v-card-actions>
                        <!-- <v-btn flat color="primary" class="learn-more-btn">
                          Learn more
                        </v-btn> -->
                        <v-spacer></v-spacer>
                        <v-btn flat color="primary">Get started</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-hover>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  data () {
    return {
      links: [
        {
          id: '1',
          title: 'Azure',
          description: 'Microsoft Azure is an open, flexible, enterprise-grade cloud computing platform',
          image: 'https://firebasestorage.googleapis.com/v0/b/cloud-images-debian.appspot.com/o/azure.png?alt=media&token=85dad646-d6d2-4b58-bae3-1f0b48578561',
          link: '/',
          color: 'orange'
        },
        {
          id: '2',
          title: 'EC2',
          description: 'Amazon Elastic Compute Cloud (Amazon EC2) is a web service that provides secure, resizable compute capacity in the cloud.',
          image: 'https://firebasestorage.googleapis.com/v0/b/cloud-images-debian.appspot.com/o/aws.png?alt=media&token=0dbfb1da-a34b-494f-8d19-3681fabef262',
          link: '/',
          color: 'teal'
        },
        {
          id: '3',
          title: 'GCE',
          description: 'Google Compute Engine delivers virtual machines running in Google`s innovative data centers and worldwide fiber network.',
          image: 'https://firebasestorage.googleapis.com/v0/b/cloud-images-debian.appspot.com/o/gce.png?alt=media&token=ab4827ff-7944-4e31-b720-95732545f428',
          link: '/',
          color: 'blue'
        },
        {
          id: '4',
          title: 'OpenStack',
          description: 'OpenStack software controls large pools of compute, storage, and networking resources throughout a datacenter, managed through a dashboard or via the OpenStack API. ',
          image: 'https://firebasestorage.googleapis.com/v0/b/cloud-images-debian.appspot.com/o/open_stack.png?alt=media&token=eb5d4c5a-1593-4f01-9d4c-7859228fcd47',
          link: '/',
          color: 'purple'
        }
      ]
    }
  }
}
</script>

<style scoped>
  .outine-2 {
    border: 2px solid white;
  }
  .card--flex-toolbar {
    margin-top: -124px;
  }
  .learn-more-btn {
    text-transform: initial;
    text-decoration: underline;
  }
  .flexcard {
    display: flex;
    flex-direction: column;
  }
</style>
