<template>
  <v-navigation-drawer
    width="250"
    class="blue-grey darken-4"
    dark
    persistent
    :mini-variant="miniVariant"
    v-model="drawer"
    fixed
    app>
    <v-toolbar flat class="transparent" dense>
      <v-list class="pa-0" :class="{'list-border-bottom' : miniVariant}">
        <v-list-tile>
          <v-list-tile-action v-if="!miniVariant">
            <v-img
              :src="require('@/assets/logo.svg')"
              class="my-3"
              contain
              height="40"
            ></v-img>
          </v-list-tile-action>
          <v-list-tile-content v-if="!miniVariant">
            <v-list-tile-title>
            <h1 v-text="appName"></h1>
            </v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-btn icon @click.stop="miniVariant = !miniVariant">
              <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'"></v-icon>
            </v-btn>
          </v-list-tile-action>
        </v-list-tile>
      </v-list>
    </v-toolbar>
    <v-divider></v-divider>
    <v-tooltip right :disabled="!miniVariant">
      <v-toolbar flat class="transparent" dense slot="activator">
        <v-list class="pa-0" :class="{'list-border-bottom' : miniVariant}">
          <v-list-tile to="/" exact>
            <v-list-tile-action>
              <v-icon>home</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Providers Overview</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-toolbar>
      <span>Project Overview</span>
    </v-tooltip>
    <v-divider></v-divider>
    <v-list subheader :class="{'list-border-bottom' : miniVariant}">
      <v-subheader>ANALYTICS</v-subheader>
      <template v-for="item in analyticsItems">
        <v-tooltip right :disabled="!miniVariant" :key="item.id">
          <v-list-tile
            :key="item.icon"
            :to="item.link"
            exact
            slot="activator">
            <v-list-tile-action>
              <v-icon v-html="item.icon"></v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title v-text="item.title"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <span v-text="item.title"></span>
        </v-tooltip>
      </template>
    </v-list>
    <v-divider></v-divider>
    <v-list subheader>
      <v-subheader>DEVELOP</v-subheader>
      <template v-for="item in developItems">
        <v-tooltip right :disabled="!miniVariant" :key="item.id">
          <v-list-tile
            :key="item.icon"
            :to="item.link"
            exact
            slot="activator">
            <v-list-tile-action>
              <v-icon v-html="item.icon"></v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title v-text="item.title"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <span v-text="item.title"></span>
        </v-tooltip>
      </template>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  data () {
    return {
      appName: 'Image Finder',
      drawer: true,
      analyticsItems: [
        {
          id: 1,
          icon: 'dashboard',
          title: 'Dashboard',
          link: '/dashboard'
        },
        {
          id: 2,
          icon: 'list_alt',
          title: 'All Images',
          link: '/images'
        },
        {
          id: 3,
          icon: 'timeline',
          title: 'Pipeline',
          link: '/pipeline'
        },
        {
          id: 4,
          icon: 'settings',
          title: 'Settings',
          link: '/settings'
        }
      ],
      developItems: [
        {
          id: 5,
          icon: 'supervisor_account',
          title: 'Team',
          link: '/team'
        },
        {
          id: 6,
          icon: 'storage',
          title: 'CI',
          link: '/ci'
        },
        {
          id: 7,
          icon: 'bug_report',
          title: 'Bug Report',
          link: '/bug_report'
        },
        {
          id: 8,
          icon: 'forum',
          title: 'Forum',
          link: '/forum'
        }
      ],
      miniVariant: false
    }
  }
}
</script>
