<template>
  <v-app>
    <Drawer/>
    <Toolbar/>
    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
import Toolbar from '@/components/toolbar/Toolbar'
import Drawer from '@/components/drawer/Drawer'

export default {
  components: { Toolbar, Drawer }
}
</script>
